/* resources/css/app.css */

/* Contenedor principal del formulario */
.agendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f3f4f6; /* gris claro */
    padding: 1rem;
}

/* Ajuste responsivo para pantallas más pequeñas */
@media (max-width: 768px) {
    .agendar-container {
        max-width: 100%;
        padding: 15px;
    }
}

.agendar-card {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    width: 100%;
    max-width: 38rem; /* Móviles */
}

@media (min-width: 640px) {
    .home-card { max-width: 32rem; } /* Tablets */
}
  
  @media (min-width: 768px) {
    .home-card { max-width: 36rem; } /* Pantallas medianas */
  }
  
  @media (min-width: 1024px) {
    .home-card { max-width: 42rem; } /* Pantallas grandes */
  }

/* Imagen del logo */
.home-logo {
    width: 40%;
    margin: 0 auto 1rem;
}

@media (max-width: 640px) {
    .home-logo { content: url("/logo3-mb.png");}
}

/* Estilo para el título */
.titulo_agendar {
    color: rgb(40, 193, 240);
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Grupos de formularios */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

/* Etiquetas del formulario */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Campos de entrada */
input, select, .react-datepicker-wrapper {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s ease-in-out;
}

/* Estilo cuando el input está enfocado */
input:focus, select:focus, .react-datepicker-wrapper:focus-within {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

/* Botones */
.agendar_buttons {
    padding: 0.75rem;
    border-radius: 0.5rem;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
}

.agendar_buttons.confirm {
    background-color: #2D2C84;
}

.agendar_buttons.confirm:hover {
    background-color: #2563eb; /* azul más oscuro */
}

.agendar_buttons.back {
    background-color: #E8510E;
}

.agendar_buttons.back:hover {
    background-color: #ec7b4a; /* verde más oscuro */
}

/* Mensajes de error */
.error-message {
    color: red;
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
}
