/* resources/css/app.css */

/* Contenedor principal del formulario */
.detalleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f6; /* gris claro */
    padding: 1rem;
}

/* Ajuste responsivo para pantallas más graandes*/
@media (min-width: 1900px) {
    .detalleContainer {
        min-height: 91vh !important;
    }
}

/* Ajuste responsivo para pantallas más graandes*/
@media (min-width: 1441px) and (max-width: 1800px) {
    .detalleContainer {
        min-height: 88vh;
    }
}

/* Ajuste responsivo para pantallas más pequeñas */
@media (max-width: 768px) {
    .detalleContainer {
        max-width: 100%;
        padding: 15px;
    }
}

.detalleCard {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    width: 100%;
    max-width: 38rem; /* Móviles */
}

@media (min-width: 640px) {
    .detalleCard { max-width: 20rem; } /* Tablets */
}
  
  @media (min-width: 768px) {
    .detalleCard { max-width: 26rem; } /* Pantallas medianas */
  }
  
  @media (min-width: 1024px) {
    .detalleCard { max-width: 32rem; } /* Pantallas grandes */
  }

/* Imagen del logo */
.detalle-logo {
    width: 40%;
    margin: 0 auto 1rem;
}

@media (max-width: 640px) {
    .detalle-logo { content: url("/logo3-mb.png");}
}

/* Estilo para el título */
.titulo-detalle {
    color: rgb(40, 193, 240);
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Grupos de formularios */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

/* Etiquetas del formulario */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Campos de entrada */
input, select, .react-datepicker-wrapper {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s ease-in-out;
}

/* Estilo cuando el input está enfocado */
input:focus, select:focus, .react-datepicker-wrapper:focus-within {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

/* Botones */
.detalleButtons {
    padding: 0.75rem;
    border-radius: 0.5rem;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
    margin: 2px;
}

.detalleButtons.cancelar {
    background-color: #f53747;
}

.detalleButtons.cancelar:hover {
    background-color: #97353d; /* azul más oscuro */
}

.detalleButtons.editar {
    background-color: #2563eb;
}

.detalleButtons.editar:hover {
    background-color: #2D2C84; /* azul más oscuro */
}

.detalleButtons.back {
    background-color: #E8510E;
}

.detalleButtons.back:hover {
    background-color: #ec7b4a; /* verde más oscuro */
}

/* Estilos para desarrollo de cita */
.desarrollar {
    background-color: #4CAF50; /* Verde */
    color: white;
}

.guardar {
    background-color: #2196F3; /* Azul */
    color: white;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}