/* resources/css/app.css */

/* Contenedor principal del formulario */
.agendarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f6; /* gris claro */
    padding: 1rem;
}

/* Ajuste responsivo para pantallas más graandes*/
@media (min-width: 1900px) {
    .agendarContainer {
        min-height: 91vh !important;
    }
}

/* Ajuste responsivo para pantallas más graandes*/
@media (min-width: 1441px) and (max-width: 1800px) {
    .agendarContainer {
        min-height: 88vh;
    }
}

/* Ajuste responsivo para pantallas más pequeñas */
@media (max-width: 768px) {
    .agendarContainer {
        max-width: 100%;
        padding: 15px;
    }
}

.agendarCard {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    width: 100%;
    max-width: 38rem; /* Móviles */
}

@media (min-width: 640px) {
    .homeCard { max-width: 32rem; } /* Tablets */
}
  
  @media (min-width: 768px) {
    .homeCard { max-width: 36rem; } /* Pantallas medianas */
  }
  
  @media (min-width: 1024px) {
    .homeCard { max-width: 42rem; } /* Pantallas grandes */
  }

/* Imagen del logo */
.homeLogo {
    width: 40%;
    margin: 0 auto 1rem;
}

@media (max-width: 640px) {
    .homeLogo { content: url("/logo3-mb.png");}
}

/* Estilo para el título */
.tituloAgendar {
    /* color: rgb(40, 193, 240); */
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Grupos de formularios */
.formGroup {
    margin-bottom: 20px;
    text-align: left;
}

/* Etiquetas del formulario */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Estilo cuando el input está enfocado */
input:focus, select:focus, .react-datepicker-wrapper:focus-within {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

/* Botones */
.agendarButtons {
    padding: 0.75rem;
    border-radius: 0.5rem;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
}

.agendarButtons.confirm {
    background-color: #2D2C84;
}

.agendarButtons.confirm:hover {
    background-color: #2563eb; /* azul más oscuro */
}

.agendarButtons.back {
    background-color: #E8510E;
}

.agendarButtons.back:hover {
    background-color: #ec7b4a; /* verde más oscuro */
}

/* Mensajes de error */
.error-message {
    color: red;
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
}
