/* Estilos generales del navbar */
.navbar {
    background-color: #2D2C84; /* Color de fondo */
    padding: 10px 20px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-logo {
    height: 64px; /* Ajusta el tamaño del logo */
    width: 135px;
}

.navbar-toggle {
    display: none; /* Oculta el botón en pantallas grandes */
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    align-items: center;
    gap: 20px; /* Espacio entre elementos del menú */
}

.navbar-item {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.navbar-item:hover {
    background-color: #E8510E; /* Color al hacer hover */
    border-radius: 5px;
}

/* Estilos para el menú móvil */
@media (max-width: 768px) {
    .navbar-toggle {
        display: block; /* Muestra el botón en pantallas pequeñas */
    }

    .navbar-menu {
        display: none; /* Oculta el menú en pantallas pequeñas */
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: #2D2C84;
        border-radius: 5px;
        padding: 10px;
    }

    .navbar-menu.active {
        display: flex; /* Muestra el menú cuando está activo */
        z-index: 2;
    }
}

/* Estilos para el dropdown */
.navbar-dropdown {
    position: relative;
}

.dropdown-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
}

.dropdown-menu {
    display: none; /* Oculta el menú desplegable por defecto */
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #2D2C84;
    border-radius: 5px;
    padding: 10px;
    min-width: 150px;
    z-index: 1000;
}

.dropdown-menu.active {
    display: block; /* Muestra el menú desplegable cuando está activo */
}

.dropdown-item {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #E8510E; /* Color al hacer hover */
    border-radius: 5px;
}

.logout {
    background-color: #E8510E; /* Color para el botón de cerrar sesión */
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.logout:hover {
    background-color: #ff6b35; /* Color al hacer hover */
}